shap==0.30.0
pyproj==3.7.2
imblearn==0.0
keras==2.2.5
tqdm==4.35.0
PyYAML==5.4
fiona==1.8.6
earthpy==0.9.4
geopandas==0.5.1
matplotlib==3.10.8
natsort==6.0.0
numpy==1.22.0
pandas==0.25.1
pycrs==1.0.2
pygbif==0.3.0
rasterio==1.0.27
shapely==2.1.2
scikit-learn==0.21.3
tensorflow==2.12.1
