shap==0.30.0
pyproj==3.7.2
imblearn==0.0
keras==3.13.2
tqdm==4.66.3
PyYAML==5.4
fiona==1.10b2
earthpy==0.9.4
geopandas==1.1.2
matplotlib==3.10.8
natsort==6.0.0
numpy==2.4.4
pandas==0.25.1
pycrs==1.0.2
pygbif==0.3.0
rasterio==1.0.27
shapely==2.1.2
scikit-learn==1.5.0
tensorflow==2.21.0
