shap==0.33.0
pyproj==2.3.1
imblearn==0.0
keras==2.2.5
tqdm==4.35.0
PyYAML==5.1.2
fiona==1.8.6
earthpy==0.7.4
geopandas==0.5.1
matplotlib==3.1.1
natsort==6.0.0
numpy==1.17.2
pandas==0.25.1
pycrs==1.0.1
pygbif==0.3.0
rasterio==1.0.27
shapely==1.6.4.post2
scikit-learn==0.21.3
tensorflow==1.14.0
